<!--MY CODE -->
<!--<ion-popover-view>
  <ion-content>
    <div class="buttons">
        <button class="button" ng-click="addFavorite({{dish.id}})">Add to Favorites</button>
    </div>
    <div class="buttons">
        <button class="button " ng-click="addComment()">Add Comment</button>
    </div>
  </ion-content>
</ion-popover-view>

-->

<!--Shantanu Shashikant Kulkarni
March 19, 2016 -->
<ion-popover-view>
  <ion-content>
    <div class="list" ng-click="popover.hide()">
      <a class="item" ng-click="addFavorite(dish.id)">
        Add to Favorites
      </a>
      <a class="item" ng-click="dishcomment()">
        Add Comment
      </a>
    </div>
  </ion-content>
</ion-popover-view>
